## **IMPORTACIONES**

In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model as LinearRegression
from sklearn.metrics import mean_squared_error

## **Crear DataFrame**
- Creamos el DataFrame con el dataset que hemos descargado (StudentsPerformance.csv).
- Imprimimos las 5 Ãºltimas filas para verificar que existan hasta 1000 filas.

In [31]:
df = pd.read_csv('StudentsPerformance.csv')
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## **Analizar columnas**
- Verificamos cada columna en busca de alguna incongruencia o falta de datos.

In [32]:
df.info()

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## **Seleccionar las columnas a trabajar**
- Selecionamos las dos columnas del DataFrame con las que vamos a trabajar.
- Calculamos el promedio de de notas de cada una.

In [33]:
df[['reading score', 'math score']].mean()

reading score    69.169
math score       66.089
dtype: float64